<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        .top,
        .nav {
            width: 1423px;
            margin: 0 auto;
        }

        .main {
            width: 1000px;
            margin: 10px auto;
        }

        img {
            display: block;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="top">
        <img src="images/top.png" />
    </div>
    <div class="nav">
        <img src="images/nav.png" />
    </div>
    <div class="main">
        <img src="images/main.png" />
    </div>
    <script src="./jquery-1.12.4.js"></script>
    <script>
    //思路: 给页面设置一个滚动事件,时刻监视页面的scrollTop的值
    //如